[user]
	name = yuuinaka
	email = yuuinaka@gmail.com
[core]
	editor = /usr/bin/vim
  excludesfile = /Users/yuuinaka/.gitignore
[color]
	ui = auto
[alias]
  b = branch
  co = checkout
  st = status
  df = diff
  ca = commit -a
  ps = push
